
@model IEnumerable<CLEANSHOP.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sản Phẩm </h1>

@*<div class="banner">

        <div class="banner-left">
            <p>Chuyên gia dụng cụ chăm sóc giày UTOPIA</p>
            <img src="~/Content/Images/anh bia.jpg" alt="Alternate Text" style="width:15%; height:15%;" />
        </div>

        <img src="~/Content/Images/anh bia.jpg" alt="Alternate Text" style="width:50%; height:15%;" />
    </div>
    <h2>Sản phẩm</h2>*@



@*<div class="Sp" style="  display: flex;   flex-wrap: wrap; ">

        <p>  @Html.ActionLink("Create", "Create")</p>

        @foreach (var item in Model)
        {


    <div class="items" style=" width: 25%; height: 400px; display: flex; flex-direction: column; justify-content: center; align-items: center; margin:20px; border-radius:20px;">

        <img src="@item.Image" alt="Alternate Text" style=" width: 100%; height: 30%; object-fit: cover; " />
        <p> @Html.ActionLink(@item.ProductName, "Index", "Index")</p>
        <div class="content">

            <h2>
                @item.ProductName
            </h2>
            <h4>
                @item.Detail
            </h4>
            <h4>
                @item.Time
            </h4>
            <h4>
                @item.Text
            </h4>
            <p><strong>Còn lại: </strong>@item.Amount</p>

            <p>@item.Price</p>
        </div>

        <div class="DatMua">
            <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang", new { @id = item.Id, @strURL = Request.Url.ToString() })">Đặt mua</a>
        </div>

        @Html.ActionLink("Detail", "Detail", new { id = item.Id })

    </div>

        }*@

@using (Html.BeginForm("Index", "DichVu", FormMethod.Get, new { @class = "form-inline" }))
{

    <div class="form-group">
        <input type="Text" class="form-control col-md-10" value="@ViewBag.Keyword" name="searchString" placeholder="Nhập tên sản phẩm cần tìm">
        <input type="submit" class="btn btn-danger" value="Tìm sản phẩm...">
    </div>
}
<div class="container">

    <div class="row">

        <div class="col-md-12">
            @foreach (var item in Model)
            {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <h4 class="text-center"><span class="label label-info"></span></h4>
                    <img src="@item.Image" class="img-responsive" style="height:200px">
                    <div class="caption">
                        <div class="row">
                            <div class="text-center ">
                                <label style=" font-size : 20px"><strong>@item.ProductName</strong> </label>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h3>
                                    @*    @if (item.Price == item.DisPrice)
                            {
                                   <label>@item.Price VND</label>
                            }
                            else
                            {

                                <label style="text-decoration-line:line-through">@item.Price VND</label>
                                <label>Giá sau khi giảm: @item.DisPrice VND </label>
                            }
                                    *@


                                </h3>
                            </div>
                        </div>
                        <p>@item.Text</p>
                        <h4>
                            <p>Số lượng :  @item.Amount </p>
                            <label style="color : red"> Giá : @item.Price VND</label>
                        </h4>
                     
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="btn btn-primary btn-product" href="@Url.Action("Detail", "DichVu", new { @id = item.Id })"> Chi tiết</a>
                                </div>
                                <div class="col-md-6">
                                    <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang", new { @id = item.Id, @strURL = Request.Url.ToString() })">Thêm vào giỏ </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>

    </div>

</div>

<style>
    .btn-product {
        width: 100%;
    }
    .thumbnail {
        background: #c5e4e4;
    }
</style>


@*    <style>
            .items:hover {
                transition: 0.5s ease-in-out;
                box-shadow: 5px 5px 2px midnightblue;
            }

            .banner {
                display: flex;
                justify-content: center;
                align-items: safe center;
            }

            .banner-left {
                top: 0;
            }
        </style>
    </div>
*@
