

@model IEnumerable<CLEANSHOP.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sản Phẩm </h1>


@using (Html.BeginForm("Index", "DichVu", FormMethod.Get, new { @class = "form-inline" }))
{

    <div class="form-group">
        <input type="Text" class="form-control col-md-10" value="@ViewBag.Keyword" name="searchString" placeholder="Nhập tên sản phẩm cần tìm">
        <input type="submit" class="btn btn-danger" value="Tìm sản phẩm...">
    </div>
}
<div class="container">

    <div class="row">

        <div class="col-md-12">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <h4 class="text-center"><span class="label label-info">The Loai</span></h4>
                        <img src="@item.Image" class="img-responsive">
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <h3>@item.ProductName</h3>
                                </div>
                                <div class="col-md-6 col-xs-6 price">
                                    <h3>
                                        <label>@item.Price VND</label>
                                    </h3>
                                </div>
                            </div>
                            <p>@item.Text</p>
                            <h3>
                                <label>Số lượng :  @item.Amount </label>
                            </h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="btn btn-primary btn-product" href="@Url.Action("Detail", "DichVu", new { @id = item.Id })"> Detail</a>
                                </div>
                                <div class="col-md-6">
                                    <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang", new { @id = item.Id, @strURL = Request.Url.ToString() })">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</div>

<style>
    .btn-product {
        width: 100%;
    }
</style>




